module.exports ={
    password: 'aengivif0fei9wo0n09shee5oweorohchahnei7Keogeish6io2iu2ahd2Ohx1cawi0xuleebi4Theihoh8kah5shu0xich2koo1',
    hash_salt: 'eih1ahbialae8gohveem9zahx8lughoa0sei9chiegue1Boh8ooleegei1aer7bi6joo1VeaxqNah5peiK9Cah8Taekoghuaquoh',
    webapp_folder: '/var/www/cryptonotes/cryptonotes-webapp/build',
    port: 4000,
};
